.usual{color:#111;padding:15px 20px;margin:8px auto;}
.usual li{list-style:none;float:left;margin-right:1px;}
.usual ul a{display:block;padding:6px 10px;text-decoration:none!important;margin-left:0;font-family:Tahoma,Verdana,Arial,Hevetica,sans-serif;font-size:11px;color:#fff;background-color:#666;font-weight:bold;}
.usual ul a:hover{background-color:#ccf;font-weight:bold;color:#000;}
.usual ul a.selected{
		margin-bottom:0;
		color:#111;
		background:#fff;
		cursor:default;
		background-color:#ccf;
		font-weight:bold;
}
.usual div{padding:10px 10px 8px 10px;
		 *padding-top:3px;*margin-top:-15px;clear:left;font-family:Tahoma,Verdana,Arial,Hevetica,sans-serif;font-size:11px;background:#fff;border:1px solid #ccf;}
.usual div a{color:#000;font-weight:bold;}